################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TTApplication/bin/x64/Debug
/TTApplication/obj
